/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/
:root {
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(225, 100%, 98%);
  --color-neutral-400: hsl(224, 23%, 55%);
  --color-neutral-800: hsl(223, 47%, 23%);

  --color-primary-200: hsl(225, 100%, 94%);
  --color-primary-300: hsl(245, 83%, 68%);
  --color-primary-400: hsl(245, 75%, 52%);

  --ff: "Red Hat Display", sans-serif;

  --3px: calc(3rem / 16);
  --6px: calc(6rem / 16);
  --8px: calc(8rem / 16);
  --11px: calc(11rem / 16);
  --13px: calc(13rem / 16);
  --14px: calc(14rem / 16);
  --15px: calc(15rem / 16);
  --16px: 1rem;
  --17px: calc(17rem / 16);
  --20px: calc(20rem / 16);
  --22px: calc(22rem / 16);
  --24px: calc(24rem / 16);
  --25px: calc(25rem / 16);
  --28px: calc(28rem / 16);
  --32px: calc(32rem / 16);
  --45px: calc(45rem / 16);
  --48px: calc(48rem / 16);
  --56px: calc(56rem / 16);
  --64px: calc(64rem / 16);
  --102px: calc(102rem / 16);
  --327px: calc(327rem / 16);
  --450px: calc(450rem / 16);
}

body {
  display: grid;
  place-items: center;
  padding-inline: var(--8px);
  background: var(--color-primary-200)
    url(../images/pattern-background-mobile.svg) center top no-repeat fixed;
  font-family: var(--ff);
  font-size: var(--15px);
  font-weight: 500;
  line-height: 1.323;
}

h1 {
  font-size: var(--22px);
  font-weight: 900;
}

/*------------------------------------*\
  #COMPOSITION
\*------------------------------------*/
.flow > * + * {
  margin-block-start: var(--space, var(--24px));
}

.flow-exception-16px {
  --space: var(--16px);
}

.flex {
  display: flex;
  align-items: center;
}

.grid-gap {
  display: grid;
  row-gap: var(--gap, var(--3px));
}

/*------------------------------------*\
  #UTILITY
\*------------------------------------*/
.padding-16px {
  padding: var(--16px);
}

.padding-32px {
  padding: var(--32px);
}

.align-right {
  margin-inline-start: auto;
}

.margin-left-20px {
  margin-inline-start: var(--20px);
}

.bg-neutral-100 {
  background: var(--color-neutral-100);
}

.bg-neutral-200 {
  background: var(--color-neutral-200);
}

.br-11px {
  border-radius: var(--11px);
}

.br-20px {
  border-radius: var(--20px);
}

.fs-14px {
  font-size: var(--14px);
}

.fw-900 {
  font-weight: 900;
}

.color-neutral-400 {
  color: var(--color-neutral-400);
}

.color-neutral-800 {
  color: var(--color-neutral-800);
}

.text-align-center {
  text-align: center;
}

.line-height-25px {
  line-height: calc(25 / 15);
}

/*------------------------------------*\
  #BLOCK
\*------------------------------------*/
.card {
  max-width: var(--327px);
  box-shadow: 0 40px 40px -20px rgba(13, 48, 189, 0.1518);
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: var(--15px) var(--56px);
  background: transparent;
  border: none;
  border-radius: var(--11px);
  font-size: var(--15px);
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.link {
  font-size: var(--13px);
  font-weight: 700;
  color: var(--color-primary-400);
  cursor: pointer;
}

.link:focus,
.link:hover {
  color: var(--color-primary-300);
  text-decoration: none;
  transition: color 0.3s ease;
}

/*------------------------------------*\
  #EXCEPTION
\*------------------------------------*/
.button[data-type="primary"] {
  box-shadow: 0 20px 20px rgba(56, 42, 225, 0.1903);
  background: var(--color-primary-400);
  color: var(--color-neutral-100);
}

.button[data-type="primary"]:focus,
.button[data-type="primary"]:hover {
  background: var(--color-primary-300);
  transition: background 0.3s ease;
}

.button[data-type="transparent"] {
  padding: 0;
  color: var(--color-neutral-400);
  transition: color 0.3s ease;
}

.button[data-type="transparent"]:focus,
.button[data-type="transparent"]:hover {
  color: var(--color-neutral-800);
}

/*------------------------------------*\
  #MEDIA-QUERY
\*------------------------------------*/
@media (min-width: 376px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: contain;
  }
}

@media (min-width: 480px) {
  body {
    font-size: var(--16px);
  }

  h1 {
    font-size: var(--28px);
  }

  .button {
    padding: var(--15px) var(--102px);
  }

  .card {
    max-width: var(--450px);
  }

  .card__content {
    padding: var(--45px) var(--48px) var(--48px);
  }

  .card__subheader {
    --space: var(--17px);
    line-height: 1.625;
  }

  .card__pricing {
    --space: var(--20px);
    padding: var(--25px) var(--24px);
  }

  .card__pricing-details {
    font-size: var(--16px);
  }

  .flow {
    --space: var(--32px);
  }

  .grid-gap {
    --gap: var(--6px);
  }

  .link {
    font-size: var(--14px);
  }
}
