/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(212, 45%, 89%);
  --clr-neutral-400: hsl(220, 15%, 55%);
  --clr-neutral-500: hsl(218, 44%, 22%);

  --10px: calc(10rem / 16);
  --15px: calc(15rem / 16);
  --16px: 1rem;
  --20px: calc(20rem / 16);
  --22px: calc(22rem / 16);
  --24px: calc(24rem / 16);
  --288px: calc(288rem / 16);
  --320px: calc(320rem / 16);

  --ff: "Outfit", sans-serif;
  --fs-400: var(--15px);
  --fs-500: var(--22px);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background: var(--clr-neutral-300);
  color: var(--clr-neutral-400);
  font-family: var(--ff);
  font-size: var(--fs-400);
  font-weight: 400;
  line-height: 1.267;
}

h1 {
  font-size: var(--fs-500);
  font-weight: 700;
  color: var(--clr-neutral-500);
  line-height: 1.273;
}

p {
  letter-spacing: 0.0127em; /* 0.19px */
}

/*------------------------------------*\
  COMPOSITION
\*------------------------------------*/

.flow > * + * {
  margin-block-start: var(--space, var(--16px));
}

.flow-exception {
  --space: var(--24px);
}

/*------------------------------------*\
  UTILITY
\*------------------------------------*/

.bg-neutral-100 {
  background: var(--clr-neutral-100);
}

.box-shadow {
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
}

.br-20 {
  border-radius: var(--20px);
}

.br-10 {
  border-radius: var(--10px);
}

.qr--wh {
  width: var(--288px);
  height: var(--288px);
}

.padding-16 {
  padding: var(--16px);
}

.padding-lr-16 {
  padding-inline: var(--16px);
}

.margin-btm-24 {
  margin-block-end: var(--24px);
}

.text-align-center {
  text-align: center;
}

/*------------------------------------*\
  BLOCK
\*------------------------------------*/

.card {
  max-width: var(--320px);
}
